<p id="notice"><%= notice %></p>

<p>
  <strong>Lastused:</strong>
  <%= @application_type.LastUsed %>
</p>

<%= link_to 'Edit', edit_application_type_path(@application_type) %> |
<%= link_to 'Back', application_types_path %>
