<p id="notice"><%= notice %></p>
<p>
  <strong>Last used:</strong>
  <%= @application_type.last_used %>
</p>
<%= link_to "Edit", edit_application_type_path(@application_type) %>
|
<%= link_to "Back", application_types_path %>
