version: 2
updates:
  - package-ecosystem: bundler
    directory: "/"
    target-branch: develop
    schedule:
      interval: daily
    groups:
      production-dependencies:
        dependency-type: "production"
      development-dependencies:
        dependency-type: "development"
    versioning-strategy: lockfile-only
  - package-ecosystem: github-actions
    directory: "/"
    target-branch: develop
    schedule:
      interval: daily
