# Exclude everything also excluded by the gitignore
#!include:.gitignore

# Ignore itself
.gcloudignore

# Ignore git files
.git
.gitignore

# Ignore CI gems & yarn artifacts
vendor/*
.yarn/*

# Ignore other local Rails files
/.bundle
!/log/.keep
!/tmp/.keep
/tmp/pids/*
!/tmp/pids/
!/tmp/pids/.keep
/storage/*
!/storage/.keep
.byebug_history
/node_modules
/yarn-error.log
yarn-debug.log*
.yarn-integrity
/test
/log
/tmp
/storage
/production
/db
/coverage

# Other random files
.DS_Store
Session.vim
.unused-gitlab-ci.yml
tests.md
tmp.log
tags
README.md
.solargraph.yml
package-lock.json
package.json
.rubocop.yml

# Include keys
!/config/**/*.key
!/public/assets
