<strong><%= @total_count %></strong>
records to download.<br/>
<% if @total_count > 10000 %>
  <div class="alert alert-warning my-1 p-1" role="alert">
    <strong>⚠ Warning</strong>
    This may take a while.
  </div>
<% end %>
<div class="d-flex justify-content-center">
  <%= button_to applications_path({format: :csv}), 
          class:"btn btn-sm btn-success mt-2 text-nowrap", 
          method: :get,
          params: @params do %>
    Download
  <% end %>
</div>
