<h1>Editing Application Additional Information</h1>

<%= render "form",
application_additional_information: @application_additional_information %>

<%= link_to "Show", @application_additional_information %>
|
<%= link_to "Back", application_additional_informations_path %>
