<tr class="nested-fields" data-rfis-table-target="fields">
  <td
    class="rfis-number border-0 py-1 text-end align-middle text-nowrap"
    style="width: 3em"
  >1</td>
  <td class="border-0 py-1">
    <%= f.label :request_for_information_date, class: "d-none" %>
    <%= f.date_field :request_for_information_date %>
  </td>
  <td class="border-0 py-1" style="width: 3em">
    <%= link_to_remove_association "⌫", f, class: "btn btn-sm btn-outline-danger" %>
  </td>
</tr>
