<% content_for :application_submit_actions do %>
  <div class="application-actions d-flex flex-row justify-content-between">
    <%=
      button_tag 'Save',
                 type: 'submit',
                 class: 'btn btn-success btn-block',
                 form: 'application_form',
                 data: {
                   controller: 'loading-button',
                   action: 'loading-button#onClick',
                   'loading-button-loading-text-param': 'Saving...',
                 }
    %>
    <%=

      button_to 'Delete',
                @application,
                method: :delete,
                data: {
                  controller: 'loading-button',
                  action: 'loading-button#onSubmit',
                  'loading-button-loading-text-param': 'Deleting...',
                  'loading-button-confirm-param':
                    'Are you sure you want to to delete?',
                },
                class: 'btn btn-danger btn-block'
    %>
    <%=
      link_to 'Exit',
              session[:search_results],
              class: 'btn btn-outline-secondary btn-block',
              data: {
                controller: 'loading-button',
                action: 'loading-button#onClick',
                'loading-button-loading-text-param': 'Exiting...',
                'loading-button-confirm-param': 'All changes will be discarded',
              }
    %>
  </div>
<% end %>
<%= render 'form', application: @application %>
