<% content_for :title, @application.reference_number %>

<% content_for :submit_actions do %>
  <div class="mx-2">
    <%= button_tag 'Save', type: 'submit', class: 'btn btn-success' %>
  </div>
  <div class="mx-2">
    <%= link_to 'Delete',
                @application,
                method: :delete,
                data: {
                  turbo_method: 'delete',
                  turbo_confirm: 'Are you sure you want to delete?',
                  confirm_details: 'This cannot be undone.'
                },
                class: 'btn btn-danger' %>
  </div>
  <div class="ms-2">
    <%= link_to 'Exit',
                session[:search_results],
                class: 'btn btn-outline-secondary',
                data: {
                  'unsaved-changes-target': 'exitButton',
                  turbo_method: 'get',
                  turbo_confirm: 'Are you sure?',
                  confirm_details: 'All unsaved changes will be discarded.'
                } %>
  </div>
<% end %>

<%= render 'form', application: @application %>
