<% content_for :application_submit_actions do %>
  <div class="col">
    <div class="d-flex flex-row justify-content-between">
      <%= submit_tag "Save", class: "btn btn-success btn-block", form: "application_form", data: { disable_with: "Saving..." } %>
      <%= link_to 'Delete', @application, method: :delete, data: { confirm: 'Are you sure you want to to delete?', disable_with: "Deleting..."}, class: "btn btn-danger btn-block" %>
      <%= link_to 'Exit', session[:search_results], class: "btn btn-outline-secondary btn-block", data: { confirm: 'All changes will be discarded', disable_with: "Exiting..."} %>
    </div>
  </div>
<% end %>
<%= render 'form', application: @application %>
