<h1>All Applications</h1>
 
<table>
  <tr>
    <th>Reference Number</th>
    <th>Created</th>
    <th>Updated</th>
    <th></th>
  </tr>
 
  <% @applications.each do |application| %>
    <tr>
      <td><%= application.reference_number %></td>
      <td><%= application.created_at %></td>
      <td><%= application.updated_at %></td>
      <td><%= link_to 'Show', application_path(application) %></td>
    </tr>
  <% end %>
</table>
