<h1>New Application</h1>

<%= form_with scope: :application, url: applications_path, local: true do |form| %>
  <p>
    <%= form.label :reference_number %><br>
    <%= form.text_field :reference_number %>
  </p>
 
  <p>
    <%= form.submit %>
  </p>
<% end %>
