[defaults]
roles_path = roles:ansible-common/roles
host_key_checking = False
timeout = 60
strategy_plugins = .venv/lib/python3.13/site-packages/ansible_mitogen/plugins/strategy
strategy = mitogen_linear
