<% content_for :client_submit_actions do %>
  <div class="col">
    <input type="submit" value="Save" form="client_form" class="btn btn-success"/>
  </div>
  <!--
  <div class="col">
    <%= link_to "Delete",
    @client,
    method: :delete,
    data: {
      confirm: "Are you sure you want to to delete?"
    },
    class: "btn btn-danger" %>
  </div>
  -->
  <div class="col">
    <%= link_to "Exit",
    session[:application_page],
    class: "btn btn-outline-secondary",
    data: {
      confirm: "All changes will be discarded"
    } %>
  </div>
<% end %>
<%= render "form", client: @client %>
