<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'>
  </head>
  <body>
    <div dir="ltr">
      Hi
      <%= @recipient_name %>,<br><br>
      Please find the JQC monthly reports for
      <%= @last_month_name %>
      <%= @year %>
      attached below.<br><br>
      <div>Thanks,</div>
      <div><br></div>
      <div dir="ltr">
        <div dir="ltr">
          Tom Barone<br>
          <a href="mailto:jqc.reports@tombarone.net" target="_blank">jqc.reports@tombarone.net</a><br>
        </div>
      </div>
    </div>
  </body>
</html>
