// Place all the styles related to the Applications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.app-reference-number {
  width: 5%;
}
.app-location {
  width: 10%;
}
.app-suburb {
  width: 10%;
}
.app-description {
  width: 20%;
}
.app-contact {
  width: 10%;
}
.app-owner {
  width: 10%;
}
.app-applicant {
  width: 10%;
}
.app-council {
  width: 10%;
}
.app-date {
  width: 7.5%;
}
.app-da {
  width: 7.5%;
}
.app-buttons {
  width: 5%;
}

.app-pagination {
  .pagination {
    justify-content: flex-end;
  }
}

.invoice-table-date {
  width: 20%;
}
.invoice-table-invoice-number {
  width: 12%;
}
.invoice-table-dac {
  width: 7%;
}
.invoice-table-lodgement {
  width: 7%;
}
.invoice-table-paid {
  width: 5%;
  text-align: center;
  vertical-align: middle;
}
.invoice-table-buttons {
  width: 7%;
}

.additional-information-text,
.uploaded-text {
  width: 64%;
}
.additional-information-buttons,
.uploaded-buttons {
  width: 9%;
}
.uploaded-table-body-container,
.additional-information-body-container {
  max-height: 115px;
  overflow: overlay;
}

.stages-body-container,
.request-for-informations-body-container {
  max-height: 100px;
  overflow: overlay;
}
.stages-title,
.rfis-title {
  width: 10%;
}
.stages-date {
  width: 10%;
}
.rfis-number {
  width: 1%;
}
.rfis-date {
  width: 9%;
}
.stages-text {
  width: 8%;
}
.stages-buttons,
.rfis-buttons {
  width: 4%;
}

.application-cancelled {
  opacity: 0.6;
  pointer-events: none;
}

.applications-table {
  tbody td {
    padding: 0;
  }
  .app-buttons .btn.btn-sm {
    font-size: 0.65rem;
  }
  & button {
    min-width: 4em;

    & span.spinner-border {
      width: 0.5rem;
      height: 0.5rem;
      vertical-align: middle;
      border-width: 0.1em;
    }
  }
}
