/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */


/* Remove the bootstrap blue outline focus box */
.form-control:focus,
.btn:focus,
.form-check-input:focus,
.form-select:focus,
.page-link {
	box-shadow: none !important;
}

body {
	/* Set the body background color to a light gray */
	background-color: #f5f5f5;
	/* Set the text to a dark gray */
	color: #333;
	/* Set the font family to verdana, arial, helvetica, sans-serif */
	font-family: verdana, arial, helvetica, sans-serif;
}
