// If risk rating is set, display normally
#uploaded-table .uploaded-text {
  &-enabled {
    display: table-cell;
  }

  &-disabled {
    display: none;
  }
}

// If risk rating is not set, display disabled text
#uploaded-table.risk-rating-not-set .uploaded-text {
  &-enabled {
    display: none;
  }

  &-disabled {
    display: table-cell;
  }
}
