/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */


/* Remove the bootstrap blue outline focus box */
.form-control:focus,
.btn:focus,
.form-check-input:focus,
.form-select:focus,
.page-link {
	box-shadow: none !important;
}

body {
	/* Set the body background color to a light gray */
	background-color: #f5f5f5;
	/* Set the text to a dark gray */
	color: #333;
	/* Set the font family to verdana, arial, helvetica, sans-serif */
	font-family: verdana, arial, helvetica, sans-serif;
}

/* Make the max width of popovers a bit wider */
.wider-popover {
	--bs-popover-max-width: 600px;
}

/* Give non active tabs a nice looking style */
.nav-tabs .nav-link:not(.active) {
	/* Set the text colour to a faded grey */
	color: var(--bs-secondary-color);
	/* Keep the border style and colour the same as the rest of the tabs */
	border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
	/* Show the border always on non active tabs */
	border-width: 1px !important;
}
