/* Main application search table */
/* TODO: clean this up with the nested table styles */

.applications-table td {
	padding: 0;
	font-size: 0.8em;
	background-color: white;
}

.applications-table th {
	padding: 0;
	font-size: 0.8em;
	background-color: #f5f5f5;
}

/* Add a border to the bottom of the table header */
.applications-table thead th::after {
	content: '';
	display: block;
	border-bottom: 1px solid #e0e0e0;
}

.applications-table button {
	font-size: 0.8em;
}

.nested-table th {
	padding: 0;
	background-color: #f5f5f5;
}

.nested-table thead th::after {
	content: '';
	display: block;
	border-bottom: 1px solid #e0e0e0;
}

.nested-table tfoot td {
	background-color: #f5f5f5;
	padding: 0;
}

.nested-table tr {
	border-style: hidden;
}
