name: "continuous integration"

on:
  push:
    branches: [develop]

# Run only one CI workflow at a time
concurrency:
  group: develop
  cancel-in-progress: false

jobs:
  lint:
    uses: ./.github/workflows/lint.yml
    secrets:
      RAILS_MASTER_KEY: ${{ secrets.RAILS_MASTER_KEY }}

  sonarqube:
    needs: [lint]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: SonarQube Scan
        uses: SonarSource/sonarqube-scan-action@v5
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

  test:
    needs: [lint]
    uses: ./.github/workflows/test.yml
    secrets:
      RAILS_MASTER_KEY: ${{ secrets.RAILS_MASTER_KEY }}

  deploy:
    needs: [test, sonarqube]
    uses: ./.github/workflows/deploy.yml
    with:
      branch: develop
      # Allow force push to the develop branch
      git_push_flags: "--force"
    secrets:
      DOMAIN: ${{ secrets.STAGING_DOMAIN }}
      SSH_PORT: ${{ secrets.STAGING_SSH_PORT }}
      SSH_PRIVATE_KEY: ${{ secrets.STAGING_SSH_PRIVATE_KEY }}
      RAILS_MASTER_KEY: ${{ secrets.RAILS_MASTER_KEY }}
