name: "continuous integration"

on:
  push:
    branches: [develop]

env:
  RAILS_MASTER_KEY: ${{ secrets.RAILS_MASTER_KEY }}

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: .ruby-version
          bundler-cache: true

      - name: Setup node
        uses: actions/setup-node@v4
        with:
          cache: "npm"

      - name: Lint code for consistent style
        run: |
          npm ci
          bundle exec rake lint

  test:
    runs-on: ubuntu-latest
    needs: ["lint"]
    services:
      postgres:
        image: postgres
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
        ports:
          - 5432:5432
        options: --health-cmd="pg_isready" --health-interval=10s --health-timeout=5s --health-retries=3
      # redis:
      #   image: redis
      #   ports:
      #     - 6379:6379
      #   options: --health-cmd "redis-cli ping" --health-interval 10s --health-timeout 5s --health-retries 5

    steps:
      - name: Install packages
        run: sudo apt-get update && sudo apt-get install --no-install-recommends -y build-essential git libpq-dev pkg-config google-chrome-stable

      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: .ruby-version
          bundler-cache: true

      - name: Setup node
        uses: actions/setup-node@v4
        with:
          cache: "npm"

      - name: Run tests
        env:
          RAILS_ENV: test
          DATABASE_URL: postgres://postgres:postgres@localhost:5432
          COVERAGE: "true"
          # REDIS_URL: redis://localhost:6379/0
        run: |
          npm ci
          bundle exec rake test_all

      - name: Keep screenshots from failed system tests
        uses: actions/upload-artifact@v4
        if: failure()
        with:
          name: screenshots
          path: ${{ github.workspace }}/tmp/screenshots
          if-no-files-found: ignore

      - name: "Save test and code coverage results"
        uses: "actions/upload-artifact@v4"
        with:
          name: "test-reports"
          path: "ci"

  deploy_staging:
    needs: ["test"]
    runs-on: ubuntu-latest
    steps:
      - name: "Checkout code"
        uses: "actions/checkout@v4"
        with:
          fetch-depth: 0

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: .ruby-version
          bundler-cache: true

      - name: Push to dokku
        uses: dokku/github-action@master
        with:
          branch: "develop"
          git_remote_url: "ssh://dokku@${{ secrets.STAGING_DOMAIN }}:22/${{ secrets.STAGING_DOMAIN }}"
          ssh_private_key: ${{ secrets.STAGING_SSH_PRIVATE_KEY }}

      - name: "Run deployment checks"
        run: 'WEBSITE_URL="https://${{ secrets.STAGING_DOMAIN }}" bundle exec rake run_deployment_checks'
