<div class="d-flex justify-content-between align-items-center border-top pt-3">
  <div class="fs-5 text-primary-emphasis">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="20"
      height="20"
      fill="currentColor"
      class="bi bi-file-earmark-text-fill"
      viewBox="0 0 20 20">
      <path
        d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0M9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1M4.5 9a.5.5 0 0 1 0-1h7a.5.5 0 0 1 0 1zM4 10.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5m.5 2.5a.5.5 0 0 1 0-1h4a.5.5 0 0 1 0 1z" />
    </svg>
    <%= @application.reference_number %>
  </div>
  <div class="d-flex justify-content-between align-items-center">
    <div class="mx-4">
      <%= form.check_box :cancelled,
                         data: {
                           'canceallable-target': 'cancelledCheckbox',
                           action: 'change->canceallable#setCancelledState'
                         } %>
      <%= form.label :cancelled, 'Mark as cancelled', style: 'margin-top: 0px !important' %>
    </div>
    <%= yield :submit_actions %>
  </div>
</div>
<dialog id="confirm" style="border:none; background: none">
  <div class="modal position-static d-block">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="confirm-title">Replaced by `data-turbo-confirm` attribute</h5>
          <button type="button" class="btn-close ms-3 confirm-cancel" aria-label="Cancel"></button>
        </div>
        <div id="confirm-body" class="modal-body">
          <p>Modal body text goes here.</p>
        </div>
        <div class="modal-footer">
          <button id="confirm-accept" type="button" class="btn btn-primary">OK</button>
          <button autofocus="true" type="button" class="btn btn-secondary confirm-cancel">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</dialog>
